.top{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.title{
  display: flex;
  justify-content: center ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:35px;
}

.black{
  width: 200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* margin: 0;
  padding: 0; */
}

input{
  width: 100%;
  /* font-size: 20px; */
}

select{
  font-weight: bold;
}

p{
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.bordered{
  text-shadow: 3px 3px 1px black;
  /* text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; */
  display: inline-block;
  animation: shake 0.5s infinite;
}